/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: white;
    color: black;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0;
    padding-bottom: 0.5vh;
}

li {
    display: inline;
}

li a:hover {
    color: grey;
}

li a {
    color: black;
    text-decoration: none;
    font-size: 1rem;
    padding: 0 0.5rem; /* Top/bottom: 0, Left/right: 0.5rem */
}

.image-container {
    column-width: 33vw;
    column-gap: 12px;
    width: 100%;
    margin: 0;
    padding: 1.5rem;
}

.grid-item {
    display: inline;
    margin: 0;
    width: 100%;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: inline;
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Header */
header {
    color: black;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
}

main {
    padding: 0;
    margin: 0;
    text-align: center;
}

footer {
    background-color: rgba(0, 0, 0, 0);
    color: black;
    text-align: center;
    padding: 1rem;
}
